.header{
    height: 80px;
    width: 1170px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(115,186,190,1) 100%);
    display: flex;
}
.header img{
    height: 80px;
}
.header a{
    color: darkslategray;
}
.header h2{
    margin: 22px 80px;

}
.header a:hover{
    color: red;
    font-size: x-large;

}